<%= render partial: "shared/notice", locals: { id: "notice", content: notice } %>

<h1>Todos</h1>

<% if params[:done].present? != true %>
  <%= link_to "Show uncompleted tasks", todos_path(done: false) %>
  <%= link_to "Show completed tasks", todos_path(done: true) %>
<% elsif params[:done] == "true" %>
  <%= link_to "Show uncompleted", todos_path(done: false) %> | <%= link_to "Show all", todos_path %>
<% elsif params[:done] == "false" %>
  <%= link_to "Show completed", todos_path(done: true) %> | <%= link_to "Show all", todos_path %>
<% end %>

<table>
  <thead>
    <tr>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @todos.each do |todo| %>
      <tr>
        <td><%= todo.content %></td>
        <td><%= check_box_tag :done, todo.id, todo.done,
        data: {
          remote: true,
          url: url_for(action: :toggle, id: todo.id),
          method: "POST"
        } %></td>
        <td><%= link_to 'Show', todo %></td>
        <td><%= link_to 'Edit', edit_todo_path(todo) %></td>
        <td><%= link_to 'Destroy', todo, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <td><%= render partial: "shared/notice", locals: { id: "status"+todo.id.to_s, content: notice } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Todo', new_todo_path %>
